.container {
  width: 233px;
  margin: 0 auto;
  overflow: hidden;
}

.imageContainer {
  height: 350px;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}


.buttonText {
  display: block;
  height: 100%;
  margin: auto;
  width: 100%;
}

.linkButton {
  background-color: transparent;
  border: none;
  display: inline;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.linkButton:hover,
.linkButton:focus {
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.linkButton:hover {
  color: blue
}